<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.axolotl">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <application
        android:autoLink="all"
        android:allowBackup="true"
        android:icon="@drawable/axolotlheadicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/axolotlheadicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:theme">
        <activity
            android:name="net.rdrei.android.dirchooser.DirectoryChooserActivity" />
        <activity
            android:name="com.example.axolotl.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.TermConstructActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.MatchDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.ProofDisplayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.LogicalProblemsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.TermMatchingProblemsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.axolotl.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>